/* ExpenseForm.css */

.expenseCon {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .expenses-list {
    margin-top: 20px;
  }
  
  .expense-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .expense-item p {
    margin: 5px 0;
  }
  